doctype html
html
	head
		title= title
		script(type='text/javascript' src='js/bundle.js' defer)
		link(rel='stylesheet' type='text/css' href='css/photo-sphere-viewer.css')
		link(rel='stylesheet' type='text/css' href='css/markers.css')
		style(type='text/css'). 
			body { font-family: helvetica, arial, sans-serif; }
			a { text-decoration: none }
	body
		h1= title
		div(id='viewer' style='width: 800px; height: 600px')
		p
			a('href=/upload') Upload a panorama

