doctype html
html
	head
		title= title
		script(type='text/javascript' src='js/bundle.js')
		link(rel='stylesheet' type='text/css' href='js/node_modules/pannellum/build/pannellum.css')
	body
		h1= title
		div(id='panorama' style='width: 800px; height: 600px')

